/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 400;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../img/sfondo.png');
  background-repeat: repeat-y;
  background-position: center;
  line-height: none;
}
/* HEADER */
header {
  background: linear-gradient(to bottom, #01aacd, #006688);
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
  padding: 1em;
}
header img {
  width: 250px;
  height: 60px;
  padding-top: 5%;
}
.title {
  color: white;
  text-align: center;
}
/* MAIN */
main {
  background-color: white;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
  padding: 1em;
}
.menu {
  color: white;
  text-align: center;
}
#firma {
  opacity: 0.7;
}
/* ELEMENTI NEL MAIN - ARTICLE */
code {
  border-radius: 5px;
  border: 1px lightgrey solid;
  background-color: rgb(245, 245, 245);
  padding: 1px;
}
/* TABELLE */
main article table thead {
  border-bottom: 2px skyblue solid;
  width: 100%;
  text-align: center;
  background-color: skyblue;
  color: white;
}
table {
  width: 100%;
  line-height: 3em;
  text-align: center;
  border-bottom: 3px solid skyblue;
}
main article table th:nth-child(1) {
  width: 30%;
}
main article table th:nth-child(2) {
  width: 30%;
}
main article table th:nth-child(3) {
  width: 40%;
}
main article table tr:nth-child(even) {
  background-color: lightgrey;
}

.tool {
  font-weight: bold;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
aside {
}
/* FOOTER */
footer {
}
